.site-logo.f-left > a {
    padding-top: 0px !important;
}
body{
    color: #58585B !important;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 15px !important;
    background-color: #E5E4E3;
    background-image: url(../images/topbar.jpg) !important;
    background-repeat: repeat-x !important;
    background-position: 0 -5px !important;
}
.wrapper{
    width: 990px !important;
    padding: 0 !important;
}
.slider-section {
    width: 480px !important;
}
.slider-desc {
    padding-bottom: 0px !important;
}
.slider-section .bx-wrapper img{
    height: 365px !important;
}
.besides-block .beside-post {
    float: right !important;
}
.top-header-block {
    display: none !important;
}
#topbar {
    box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.1);
    background-color: #000000;
    border-radius: 0;
    border: none;
    height: 29px;
    width: 990px;
    margin: auto;
}

#topbar ul {
    float: right !important;
    padding-left: 0;
    margin-bottom: 4px;
    list-style: none;
}
#topbar ul > li {
    float: left;
    list-style: none;
    line-height: 27px !important;
    border-right: solid 1px #FECD8B;
}
#topbar ul > li > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 4px;
    padding-left: 4px;
    color: #FECD8B;
    margin-left: 10px;
}
#topbar ul > li:last-child {
    border-right: 0px;
}
.site-branding {
    padding: 5px !important;
    padding-bottom: 0px !important;
}
.date-section {
    float: right;
    margin-bottom: 5px;
}
.download_app{
    color:#fff;
    padding: 5px;
    display: inline-block;
}
.download_app img{
    height:15px;
}
#primary {
    width: 100% !important;
}
.right_sidebar .secondary-sidebar {
    display: none;
}

.header-wrapper #site-navigation {
    background: #404041 !important;
    border-bottom: 0px !important;
    min-height: 41px !important;
    font-family: 'Open Sans', sans-serif !important;
}
.header-wrapper .menu li a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: bold !important;
    line-height: 39px !important;
    padding: 0 33px;
    text-transform: uppercase;
}
li:hover, .header-wrapper .menu li.current-menu-item {
    background: #D82C2D !important;
}
.header-wrapper .menu li:hover:before, .header-wrapper .menu li.current-menu-item:before {
    display: none;
}
.header-wrapper .menu li {
    background: none !important;
}
.header-wrapper .main-navigation ul ul.sub-menu {
    top: 41px !important;
    background: white !important;
}
.sub-menu a{
    color: #404041 !important;
}
.wrapper{
    box-shadow: 0px 1px 8px 5px rgba(0,0,0,0.1);
}
.feature-main-title-even{
    background:#D82C2D !important;
}
.feature-main-title {
    background: #004689;
    padding: 5px;
    height: 80px;
    color: #fff;
    margin-bottom:-20px !important;
}
.feature-main-icons{
    float:right;
    display: inline-block;
}
.feature-main-date{
    display: inline-block;
}
.post-desc {
    background: rgb(244, 244, 244);
    padding: 10px;
    margin-top: -12px;
}
.featured-post .post-thumb img {
    height: 200px !important;
}
.contributors-icon{
    float: right;
    margin-top: 50px;
    color: #bfbfbf;
    font-size: 15px;
    margin-right: 5px;
}
.block-title {
    padding: 12px !important;
}
#footer {
    background-color: #184B99;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 20px;overflow: hidden;
}
.bcolumn {
    margin: 10px;
    min-height: 230px;
    padding-left: 10px;
    background-image: url(../images/bcoumnbg.png);
    background-repeat: repeat;
    overflow: hidden;
}
.bcolumn a{
    color: #fff !important;
    font-size: 0.8em;
}
.col-md-12 {
        width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
}
#footer .row {
    background-color: #184B99;
}
.col-md-2 {
    width: 16.66666667%;
}
#copyright{
    font-size: 0.9em;
    text-align: center;
}
#copyright a {
    color: #FFDD17;
    text-decoration: underline;
}
.beside-thumb img{
    height: 172px !important;
}
.content-area{
    padding:12px;
}
.single-thumb img{
    width: 400px !important;
}
.assignment-icons.fa{
    font-size: 3em !important;
    margin-right: 20px !important;
}
.single-thumb {
    width: 400px !important;
    margin-right: 30px !important;
}
.assignment-icons{
    padding: 10px;
    overflow: hidden;
}
.icons-bit{
    background: #d1d1d1;
    float:left;
    width: 30%;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
.header-wrapper .menu li a {
    padding: 0 15px;
}
.credit{
    border-top: 1px solid rgb(226, 226, 226);
    text-align: center;
    padding: 5px;
    background-color: #fff;
    height: 80px;
    margin: 10px;
}
.credit img{
    height:70px;
    vertical-align:middle
}
.credit-text{
    font-size: 1.4em;
    color: #184B99;
}
.credit a{
    text-decoration: none !important;
}
.contrib_button{
    border-radius: 5px;
    background: #D82C2D;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    width: 400px;
    margin: 0 auto;
}
.contrib_button a{
    color: #fff;
}
.contrib_button a:hover{
    color: #bbbbbb !important;
}
.contrib_button img{
    height:15px;
}